

.about-us-page{
    height: 100%;
    position: relative;
}

 .about-us-page .title{
    text-align: center;
   margin-top: 0;
   margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: 800;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../assets/bg1.jpeg');
        background-position: center;
        background-size: cover;
        color: yellow;
}

.our-team-container{
 
 display: flex;
 justify-content: space-around;
    margin-top: 2rem;
    text-align: center;
}
.about-us-page h1{
    font-size: 36px;
    font-weight: 700;
}
.team {
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
   
}

 .card-box-both{
    display: flex;
    justify-content: space-between;
    margin: o auto;
}








