.navbar-section-doc{

}

.docintro{
    
        height: auto;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../assets/bg1.jpeg');
        background-position: center;
        background-size: cover;
        color: #fff;
        text-align: center;
        padding: 1.5rem;
        
  
}

.docintro h2{
    color: yellow;
    font-size: 1.4rem;
    font-weight: 700;
}

.docs_page .grid{
    display: flex;
    
}

.doc-and-sidebar .main-container{
    padding-right: 2.9rem;
    padding-left: 2.9rem;
   
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.sidebar-doc{
    background-image: url('../assets/bg1.jpeg');
height: auto;
    padding: 1rem;
    /* width: 500px; */
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
   
}

.dac-page-tab{
    background: #ed7c7c;

    padding: 10px 20px;
    font-weight: 700;
    font-size: x-large;
    border-radius: 10px;    ;
    -webkit-border-radius: 10px    ;
    -moz-border-radius: 10px    ;
    -ms-border-radius: 10px    ;
    -o-border-radius: 10px    ;
}

/* .dac-page-tab:hover{
    background: #f50606;
} */

.docs_page .active{
   background: rgb(11, 240, 114);
}



.doc-container{
    /* border: 2px solid black; */
    height: auto;
    padding:30px 20px 20px 20px ;
    text-align: center;
    background-color: rgb(225, 231, 231);
    border-radius: 20px;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.docintro h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.doc-container h1{
    font-size: 36px;
    margin-top: 10px;
    font-weight: 600;
}

.doc-container p{
    margin-left: 5px;
    text-align: left;
    margin-top: 15px;
    font-size: medium;
    font-weight: 500;
    color: rgb(104, 105, 105);
    padding-bottom: 50px;
    line-height : 30px;
}

.doc-container li{
    text-align: left;
    line-height: normal;
    margin-left: 15px;
   
}

.light-heading{
    font-weight: 600;
    font-size: larger;
    color: black;
}

.special li{
    line-height: 25px;
    padding-top: 20px;
}

.doc-container blod{
    /* font-weight: 900; */
}

.doc-container:hover{
    box-shadow: 0 0 20px 0px rgba(13, 14, 13, 0.644);
    transition: 0.5s;
}

.lighter-heading{
    font-weight: 600;
    font-size: larger;
    color: black;
}

.algo-type p {
    text-align: center;
}

.algo-names{
    margin-top: -20px;
    font-size: larger;
    font-weight: 600;
}

h4>li{
    font-size: larger;
    font-weight: 500;
}


/* css for standard docs */
.std-container{
    height: auto;
    padding:30px 20px 20px 20px ;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
 
    margin-top: 1.5rem;
    margin-bottom: 10px;
}

.std-container h1{
    font-size: 36px;
    margin-top: 10px;
    font-weight: 600;
}

.main-container .std-container p{
    margin: 0 auto;
    text-align: left;
 
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(17 92 92);
    font-family: "Poppins", sans-serif;
    margin-bottom: -1rem;
    line-height : 50px;
}

#f-para{
    padding-left: 3rem;
   
}
.std-container h4{
    margin-top: 1.5rem;
    text-align: start;
    font-size: 1.4rem;
    font-weight: 600;
    
}

.dis-para,.adv-para,.gen-para{
    text-align: left;
    
    font-size: medium;
    font-weight: 500;
    color: rgb(104, 105, 105);

}
.doc-content-detail{
    margin-left: 3rem;
}

@media(width<=650px)
{
    .docs_page{
        & .grid-two--cols{
            grid-template-columns: 1fr;
        }

        .sidebar-doc{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
}

