main {
  background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), 
  url('../assets/osbg3.jpg');
  position: relative;
  background-size: cover;

  margin-top: 1rem;
  
}

.home_intro{
 
  
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;

    
    text-align:center;
}

.home_intro .main-comtainer{
  padding: 1.3rem 2.4rem;
}


.home_intro h1{
    font-size: 60px;
    font-weight: 600;
    color: #00ffd5;
    margin-bottom: 2rem;
}

.home_intro h3{
  font-size: 1.5rem;
  color: #fffb00;
  font-weight: 600;
  margin-top: .2rem;
}

.home_intro p{
   margin-bottom: -24px;
    font-size: 18px;
    
}

.home_intro .p1{
  /* color: #fcc309; */
 
}
.home_intro .p2{
  /* color: #20bff9; */
}

.home_intro .p3{
  /* color: #8afa1b; */
}

.home_intro .p4{
  color: #0dfc09;
  font-size: 1.7rem;
 
}

.home_intro button {
    border: 2px solid rgb(208, 201, 201);
    border-radius: 10px;
    width: max-content;
    padding: 10px 15px;
    margin-top: 6rem;
 
}


.home_intro button:hover{
    border:2px solid #f44336;
    background: #f44336;
    transition: 0.7s;
}



.btn-85{
  margin-top: 3rem;
}


/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}



/* Section Rigth image */

.grid{
  gap: 4rem;
}


.section-hero--image{
  display: flex;
  justify-content: center;
  /* padding: 2rem; */
  /* border: 1px solid red; */
}




.arrow-container{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}



.arrow-2{
  width: 60px;
  height: 60px;
  /* background: #91e8f4; */
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  color: #f7ebb84c;
  display: table;
}





.scroll-down {
  position: absolute;
  left: 50%;
  bottom: -10px;
  display: block;
  text-align: center;
 
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
 
 
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) ; opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) ; opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) ; opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) ; opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) ; opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) ; opacity: 0; }
}