.section-navbar{
    width: 100%;
    background-color: #cce7fa;
   
}


.section-navbar .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.8rem;
  
  }

  


ul{
    font-size: 1rem;
}

.links li {
    font-size: 1.3rem;
    font-weight: 600;
 
}

.links li:hover{
    
    /* background-color: rgb(146, 248, 248);*/
    color: rgb(144, 118, 7);
}

/* Media Query  */
