.simulator-section{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), 
    url('../assets/osbg3.jpg');
    background-size: cover;
    min-height: 100vh;
    padding-top: 3rem;
}
